server:
  port: 8080

spring:
  application:
    name: api-gateway-service

  redis:
    host: localhost
    port: 6379

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          routes:
            # user micro service - w/o rate limiting
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**,/api/users/**

            # Transaction microservice
            - id: transaction-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/transaction/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1

            # Reward Service
            - id: reward-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/rewards/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1

            # Notification Service
            - id: notification-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/notifications/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1

  httpclient:
    max-initial-line-length: 4096
    max-header-size: 8192
  filters:
    - name: RequestSize
      args:
        maxSize: 1MB